main {
    position: relative;
    display: flex;
}

main > aside {
    flex: 1 0 0;
    background-color: white;
    box-shadow: 0 0 5px grey;
}

aside > nav {
    margin-top: 25px;
    position: sticky;
    top: 25px;
}

aside > nav > h1 {
    width: 50%;
    margin: 25px auto 5px auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #cccccc;
}

aside > nav > ul > li {
    padding: 5px 10px;
    border: 1px solid transparent;
}

aside > nav > ul > li:hover {
    background-color: whitesmoke;
    border: 1px solid grey;
}

aside li > a {
    width: 100%;
    height: 100%;
    display: block;
}


#catalog {
    flex: 6 0 0; 
    margin: 0 50px;
}

#catalog > h1 {
    width: 25%;
    margin: 25px auto 5px auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #cccccc;
}

#catalog table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 15px; /* coller les cellules & espacer les lignes */
}

#catalog table img {
    height: 120px;
}

/* taille des colonnes */
#catalog table col#productImg { width: 10%; min-width: 137px;}
#catalog table col#productRef { width: 20%;}
#catalog table col#productDesc { width: 35%;}
#catalog table col#productStock { width: 10%;}
#catalog table col#productCart { width: 15%;}
#catalog table col#productPrice { width: 10%;}

/* style des ligne*/
#catalog tr {
    height: 50px;
    background-color: white;
    text-align: center;

    --border-style : 3px solid transparent;
    --border-radius: 25px
}
#catalog tbody tr { position: relative; height: 100px;}

/* bordure des ligne (border ne fonctionne pas sur tr)*/
#catalog tbody td{
    border-bottom: var(--border-style);
    border-top: var(--border-style);
    margin: 2px 0;
}
#catalog tbody td:first-child { border-left: var(--border-style); margin-left: 2px;}
#catalog tbody td:last-child { border-right: var(--border-style); margin-right: 2px;}

#catalog tr > :first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding-left: calc(var(--border-radius)/2);
}
#catalog tr > :last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding-right: calc(var(--border-radius)/2);
}

#catalog tbody td:nth-child(6) {
    font-size: 2em;
}

#catalog td::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: linear-gradient(35deg, blue, red);
    border-radius: inherit;
    border-top-right-radius: calc(3px + var(--border-radius));
    border-bottom-right-radius: calc(3px + var(--border-radius));
    border-top-left-radius: calc(3px + var(--border-radius));
    border-bottom-left-radius: calc(3px + var(--border-radius));
    margin: -3px;
}

td {
    overflow: hidden;
}

#posFix1 {
    position: relative;
    top:-40px;
}

#showStockButton {
    position: absolute;
    right:  1em;
    top: 1em;
}