main {
    position: relative;
    padding-top: 20px;
    font-size: 1.5em;
    
}

main > h1 {
    text-align: center;
    border-bottom: 2px solid grey;
    width: 25%;
    padding-bottom: 10px;
    margin: 0 auto 20px auto;
    white-space: nowrap;
}

main > form {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;

    width: 60%;
    height: 100%;
    
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#prenom {
    grid-column: 1/2;
    grid-row: 1/2;
}

#nom {
    grid-column: 3/4;
    grid-row: 1/2;
}

#email {
    grid-column: 1/4;
    grid-row: 2/3;
}

#radio1 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#radio2 {
    grid-column: 1/2;
    grid-row: 4/5;
}
#metier {
    grid-column: 3/4;
    grid-row: 3/4;
}

#sujet {
    grid-column: 1/4;
    grid-row: 5/6;
}

#message {
    grid-column: 1/4;
    grid-row: 6/7;
}

main input[type="text"], main input[type="email"], main textarea {
    background-color: #E5E5E5;
    border-radius: 3px;
    border: none;
    font-size: 1em;
    padding: 5px 10px;
}

main input[type="text"]::placeholder, main input[type="email"]::placeholder, main textarea::placeholder {
    padding: 25px;
    position: absolute;
    top: -20px;
    letter-spacing: 0.2em;
}

#radio1, #radio2 {
    position: relative;
    left: 40px;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em
    
}

#radio1 label, #radio2 label {
    letter-spacing: 0.2em;
}

main input[type="radio"]  {
 
    appearance: none;
}

main input[type="radio"]::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #E5E5E5;
}

main input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 0.4em; left: 0.4em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #707070;
}


/*
#identite{
    display: flex;
    justify-content: space-around;
    position:relative;
    top:-20px;
}

main .nom{
    width: 520px;
    height: 30px;
    background-color:#E5E5E5;
    border-style : none; 

    
}

main p{
    font-family: arial;
    font-weight: normal;
    letter-spacing: 9px;
    font-size:30px;
    text-align: center;
    

}

main input{
  font-size: 25px;
  letter-spacing: 9px;
  text-align:center;
}

main .email{
    width: 1270px;
    height: 30px;
    background-color: #E5E5E5;
    border-style : none;
    position:relative;
    top:-60px;
}

#sexe{
    
    font-size:25px;
    display: flex;
    justify-content: space-between;
    color:#848484;
    align-items: center;
    margin: 0 125px 0 200px;
    position:relative;
    top:-80px;
   
}

main input[type="checkbox"] 
{
    background-color: #848484;
    height:20px;
    width:20px;
}

main .sujet2{
    width: 1270px;
    height: 200px;
    background-color: #E5E5E5;
    border-style : none;
    text-align:start;
    letter-spacing: 3px;
    font-size:20px;
    position:relative;
    top:-130px;

}

#conteneur{
    display:flex;
    flex-wrap:wrap;
}

main .se{
    margin-right:540px;
}

#sujet{
    position:relative;
    top:-50px;
}
*/