body {
    background-color: whitesmoke;
}



main {
    z-index: -1;
    position: relative;
    background-image: url(/img/Running.jpg);
    background-position: center;
}

#values {
    position: absolute;
    bottom: 15%;
    width: 80%; left: 10%;
    margin-right: auto;
    
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#values > .title {
    top: 0;
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 0 3px white;
}

.card {
    position: relative;
    top: 50px;
    height: 150px;
    width: 320px;
    background-color: white;
    border-radius: 25px;

    box-shadow: 0 1px 5px grey;
}

.card > .icon {
    position: absolute;

    width: 80px;
    height: 80px;

    top: 35px;
    left: 10px;
}

.card > div {
    position: absolute;
    top: 0; bottom: 0;
    left: 100px; right: 0;
    display: flex;
    margin: 5px;
    flex-flow: column nowrap;
    justify-content: center;
}

.card > div .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}